<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="col-12 d-flex flex-column">
                    <div class="col-12 d-flex flex-column">
                        <div>
                            <h1>Why Choose us</h1>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                        </div>

                    </div>
                    <div class="col-12 d-flex flex-wrap">
                        <div class="bg-white d-flex flex-row">
                            <div class="col-2"></div>
                            <div class="col-10 position-relative">
                                <h2>BEST QUALITY</h2>
                                <div class="left_line"></div>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesg indtrysum has been the Ipsum dummy of the printing indus .</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>