<section class="banner ">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-12 px-0 d-lg-flex">
                <div class="footer-top text-center text-md-start">

                    <div class="container position-relative">
                        <div class="row justify-content-center ps-4  align-items-center">

                            <div class="banner_item ps-0  col-6 col-md-4 d-flex align-items-center justify-content-lg-center  my-2">
                            <i class="fa-solid fa-house-circle-check me-3 icon"></i>
                            
                            <div>
                                <h5 class="text-start text-uppercase">best quality</h5>
                                <p class="text-start">Lorem ipsum dolor sit amet, cdipiscing elit, sed diam non dolore .</p>
                            </div>
                            </div>

                            <div class="banner_item ps-0  col-6 col-md-4 d-flex align-items-center justify-content-lg-center  my-2">

                            <i class="fa-solid fa-headset icon me-3" aria-hidden="true"></i>
                            <div>
                                <h5 class="text-uppercase text-start">24 hour support</h5>
                                <p>Lorem ipsum dolor sit amet, cdipiscing elit, sed diam non dolore .</p>
                            </div>
                            </div>

                            <div class="banner_item  ps-0  col-12 col-md-4 d-flex align-items-center justify-content-center  my-2 banner_button position-relative">

                                <app-nice-button [buttonn]="buttonn_service" class="z-1"></app-nice-button>

                            </div>
                      </div>
                    </div>

                    <div class="banner_button_overlay top-0 bottom-0 start-0 end-0"></div>

                  </div>
                
            </div>
        </div>
    </div>
</section>