section{
    hr{
        opacity: 0.1;
    }
    h2{
        font-family: 'Montserrat', sans-serif !important;
        font-weight: 700;
        color:rgb(0, 0, 0);
        font-size: 30px;
        line-height: 36px;
    }
    article{
        p{
            color: rgb(34, 34, 34) ;
            font-size: 14px;
            line-height:24px;
            font-family: 'Montserrat', sans-serif !important;
        }
    }

    div.right{
        p{
            font-weight: 400;
            color: rgb(34, 34, 34);
            font-size: 14px;
            line-height:24px;
        }
        ul.right{    
            li{
                padding: 10px;
                align-items: center;
                span{
                    font-family: 'Montserrat', sans-serif !important;
                    font-weight: 400;
                    color: rgb(34, 34, 34);
                    font-size: 14px;
                    line-height:18px;
                }
                i{
                    color: var(--primary);
                }
            }
        }
        a{
            background-color: var(--primary);
            transition: all .1s ease-in-out;
            color: white;
            // border-radius: 25px;
            &:hover{
                background-color: #094f72;
            }
        }
    
    }
    .our_items{

        .item{
            width: calc((100% / 3) - (80px / 3));
            &:hover{
                cursor: default !important;
                i{
                    color: var(--primary-lite);
                    transform: scale(1.09) !important;
                }
            }
            i{
                color: var(--primary);
                font-size: 40px;
                transition: all .3s ease-in-out;
            }
        }
    }
    
    article{
        p{
            color: rgb(34, 34, 34) ;
            font-size: 14px;
            line-height:24px;
            font-family: 'Montserrat', sans-serif !important;
        }
        p.itilic{
            
            font-style: italic;
            font-family: 'Montserrat', sans-serif !important;
        }
        p.with_border{
            font-family: 'Montserrat', sans-serif !important;
            border-left: 6px solid var(--primary);
            padding: 20px;
            margin-bottom: 20px;
            background-color: #F6F6F6;
            font-style: italic;
            color: rgb(104, 104, 104) ;
            font-size: 16px;
            line-height:26px;
        }
    }
}
//responsivs
@media (max-width: 992px) {
    section{
        .our_items{
            .item{
                width: 100%;
            }
        }
    }
}