h2{
    position: relative;        
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 900;
    color:rgb(0, 0, 0);
    font-size: 30px;
    line-height: 36px;
    &::after{
        content: "";
        display: block;
        width: 45px;
        height: 7px;
        border-radius: 13px;
        position: absolute;
        background-color: var(--primary);
        left: 0;
        bottom: -15px;
    }}